:root {
 /* 默认背景色 */
--backColor:#fff;
--borderline:#00283a;
 /* 卡片 */
--headerCOlor:#00283A;
 /* 卡片 */
--headerhover:rgb(0, 40, 58,.8);

  /* 默认字体颜色 */
--headerFont:#fff;
--headerFont2:#00283A;
  /* 反差色 */
--fontColor:#ffffff;
--mainColor:#f4cc99;
--bagColor:#f4eaea;
}

body,
html {
  position: relative;
  margin: 0px;
  width: 100%;
  padding: 0px;
  font-size: 13px;
  letter-spacing: 2px;
  transition: .4s ease-in-out;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  color: var(--headerFont);
  background-color:var(--bagColor);
}
a{
   transition: color .6s ease-in-out;
   text-decoration: none;
   color: inherit;
}
a:hover {
  color: var(--mainColor);
}


.carbox {
  background-color: var(--headerCOlor);
  border-radius: 12px;
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul>li {
  display: inline-block;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.copybottm {
  padding: 30px 20px;
  color: #7B7B7D;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: .4s ease-in-out;
  text-transform: uppercase;
}

.col {
  width: 75%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
/* 导航 */ 

.navigation {
  margin: 0px auto 0;
  width: 95%;
  background-color: transparent;
  height: 600px;
  border-radius: 20px;
  background-image: url("../img/bg2.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
}

/* 顶部导航 */
.navigation .titleBox-tag {
  text-transform: uppercase;
}

.navigation h1 {
  margin: 10px 0;
  font-size: 3.8rem;
  color: #fcfcfe;
  text-shadow: 0 1px 10px rgb(0 0 0 / 30%);
}
.navigation .buttom:hover{
  transform: scale(1.1);
  color: #fff;
}
.navigation>.nav-titleBox {
  margin-top: 18rem;
}

.nav-titleBox .buttom {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0px 35px 0 20px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  transition: transform .3s ease;
  color: #fcfcfe;
  position: relative;
}
.nav-titleBox .buttom::after{
  position: absolute;
  right: 10px;
  top: 50%;
  content: '';
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 4px solid transparent;
  animation: bmove 1s infinite;
}
@keyframes bmove {
  0%{
    opacity: 1;
    transform: translateX(-8px) translateY(-50%);
  }
  100%{
    opacity: 0;
    transform: translateX(5px) translateY(-50%);
  }
}


/* 内容 */

.co-left {
  width:35%;
  display: inline-block;
  height: 50px;
}

.co-right {
  width: 64%;
  display: inline-block;
  /* background-color: #45454566; */
  min-height: 50px;
}
.co{
  width: 70%;
  margin: 0 auto;
}

.content {
  position: relative;
  top: -90px;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.scroll{
  position: fixed !important;
  top: 49%;
}
.content .me-card {
  width: fit-content;
  min-width: 285px;
  transform: translateY(-351px);
  height: 600px;
  /* backgrounbad-color: var(--headerCOlor); */
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--headerCOlor);
  padding: 0px 30px;
}


/* 左边吸盘 */
.mecar-title {
  margin-top: 40px;
}


.me-hover span{
  margin: 0 auto;
  display: block;
  font: 14px ;
  border-right: .08em solid;
  /* 个数*2ch */
  width: 28ch; 
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(28,end), blink-caret .3s step-end infinite alternate;
}


@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50%{
    border-color: transparent;
  }
}


/* 虚线 */
.content .borderbotm {
  /* border-style: dashed; */
  border-bottom: 1px dashed rgb(187, 185, 185);
  height: 0px;
  margin: 35px 0;
}
.borderbotm2{
  border-bottom: 5px dashed rgb(4, 4, 4);
  height: 0px;
  margin: 35px 0;
}

.mecar-title .me-image {
  position: relative;
  display: inline-block;
}
.me-image>img{
  width: 100px;
  height: 100px;
  border: solid 3px #FCFCFE;
  border-radius: 50%;
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
}
.mecar-title .me-image>.status{
    height: 20px;
    width: 20px;
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
    border-radius: 50%;
    position: absolute;
    border: solid 3px #FCFCFE;
    right: 0px;
    bottom: 0px;
    background-color: var(--mainColor);
    overflow: hidden;
    color: #fff;
    transition: width .2s ease-in-out, visible .2s ease-in-out;
}
.mecar-title .me-image:hover .status{
  width: 100px;
  border-radius: 20px;
}
.mecar-title .me-image:hover .status i {
  width: 0%;
  visibility: hidden;
}
.mecar-title .me-image:hover .status i {
  width: 100%;
  visibility: visible;
}

.mecar-bottm>div {
  display: flex;
  justify-content: space-between;
  height: 25px;
  line-height: 25px;
}

.mecar-bottm .mecarbottm-key {
  font-weight: 500;
}

.mecar-bottm .mecarbottm-value {
  font-weight: 500;
  color: #747474;
}
.me-card .lianxi-list svg{
  margin: 0 5px;
 
}
.me-card .lianxi-list a svg path{
  transition: .2s ease-in-out;
}
.me-card .lianxi-list a:hover svg path{
  fill: var(--mainColor);
}
.me-card .lianxi-list a{
 display: inline-block;
}
.me-card .buttom-box .button{
  display: block;
  margin: 0 auto;
  border: none;
  height: 40px;
  line-height: 40px;
  width: 200px;
 
  color: var(--headerFont);
  border-radius: 50px;
  background: linear-gradient(-45deg, var(--mainColor) 50%, #fff 60%, var(--mainColor) 70%);
  background-size: 600% 100%;
  animation: shine 5s infinite;
}
@keyframes shine {
  0% {
    background-position-x: 100%;
  }
  50% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -100%;
  }
}



  /* 手机*/
  @media screen and (max-width: 950px) {
    .col>span{
      visibility: hidden;
    }
    .content .me-card{
      min-width: auto;
    }
    .co-left{
      position: relative;
      width: auto;
      display: block;
      height: auto;
    }
    .co-right{
      width: 100%;
    }
    .content{
      display: block;
    }
    .content .me-card{
      width:auto;
      transform: translateY(-20px);
    }
    .scroll{
      position:relative !important;
    }

    
    .min_menu{
      display: inline-block;
    }
    /* .header .header-right{
      display:none;
    } */
    .co-left{
      display: none;
    }
    .co-right{
      width: 100%;
    }

  
    .header-right .min_menu-wrap{
      text-align: center;
    }
    .header-right .header-nav>li{
      display: block;
    }
    .header-right .kaig-bottm{
      display: block;
    }

    .menu_list{
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      opacity: 0;
      background-color: var(--headerhover);
      transform: translateY(10px);
      transition: .1s ease-in-out;
    }

    .menu_list.active{
      opacity: 1;
      pointer-events: all;
      transform: translateY(0px);
    }
    .logo{
      display: inline-block;
      height: 50px;
      display: flex;
      padding: 0px; /* 内边距 */
      width: 100%;
      display: flex; /* 设置横向的flex布局 */
      justify-content: center; /* 图标在父容器中居中对齐 */
      align-items: center; /* 图标垂直居中 */
      gap: 2%; /* 调整图标之间的横向间距 */
    }
    .navigation>.nav-titleBox {
      margin-top: 10rem;
    }
  }

/* 平板 */
 @media screen and (max-width:1200px){
  .navigation{
    text-align: center;
    background-size: 100% 100%;
  }
 
  .co-left{
    position: relative;
    width: auto;
    display: block;
    height: auto;
  }
  .co-right{
    width: 100%;
  }
  .content{
    display: block;
  }
  .content .me-card{
    width:auto;
    transform: translateY(-20px);
  }
  .scroll{
    position:relative !important;
  }
}

